<div class="container">
  <div class="row">

    <div class="col-lg-6 d-none d-xl-block landing-left">
      <%= render "devise/shared/dummy-phone" %>
    </div>

    <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center align-items-lg-start">
      <div class="card" style="width: 22rem;">
        <img class="card-img-top mx-auto" src="http://www.garbdomingo.com/blog/wp-content/uploads/Instagram_logo_black.png" alt="Card image cap">
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="field">
                <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
              </div>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <div class="form-check">
                  <div class="field">
                    <%= f.check_box :remember_me, class: "form-check-input" %>
                    <%= f.label :remember_me, class: "form-check-label" %>
                  </div>
                </div>
              </div>
            <% end -%>
            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-primary btn-sm btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-item" style="width: 22rem;">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
</div>
